.case-studies-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 5rem 0;
    background: var(--background-2); /* Light background for contrast */
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

@media (max-width: 960px) {
  .case-studies-main {
    padding: 6rem 0 6rem 0;
  }
}

.case-studies-top-container{
    text-align: center;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: flex-start;
    width: 10vw;
} 



@media (max-width: 7000px) {
  .case-studies-top-container {
    width: 14vw;
  } 
}

@media (max-width: 5000px) {
  .case-studies-top-container {
    width: 18vw;
  }
}

@media (max-width: 4000px) {
  .case-studies-top-container {
    width: 23vw;
  }
}

@media (max-width: 3000px) {
  .case-studies-top-container {
    width: 37vw;
  }
}

@media (max-width: 2000px) {
  .case-studies-top-container {
    width: 50vw;
  }
}

@media (max-width: 1500px) {
  .case-studies-top-container {
    width: 78vw;
  }
}


@media (max-width: 960px) {
  .case-studies-top-container {
    width: 80vw;
  }
}

.case-studies-top-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} 

.case-studies-top-text h1{
    font-size: 1.5rem;
    font-weight: 600;
} 

.case-studies-top-text h2{
    font-size: 1rem;
    color: #5d5d5d;
    text-align: left;
}

@media (max-width: 960px) {
  .case-studies-top-text h2 {
   margin-bottom: 0;
  }
}

.case-studies-bottom-container{
    display: flex;
    justify-content: center; /* Space out the case study cards */
    gap: 2rem; /* Space between cards */
    width: 50vw;
    flex-wrap: wrap;
    /* overflow-x: scroll; */
}

@media (max-width: 960px) {
  .case-studies-bottom-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.case-studies-image-group {
  background: var(--container-background);
  border-radius: 30px;
  border: 1px solid var(--border);
  box-shadow: var(--container-shadow);
  overflow: hidden; /* Round corners */
  width: 250px; /* Fixed width for cards */
  text-align: left; /* Align text to the left */
}

@media (max-width: 960px) {
  .case-studies-image-group {
    width: 70vw;
  }
}


.case-studies-image-wrapper {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Space between items */
  height: 100%; /* Ensure it takes full height of the card */
  width: 100%;
  border-radius: 7px;
}

.case-studies-image-wrapper h3{
    font-size: 0.9rem;
    color: var(--foreground);
    font-weight: 600;
    width: 100%;
    padding: 1rem 2rem 0.5rem 1.5rem;
}

.case-studies-image-wrapper p {
  color: var(--muted-foreground);
  font-size: 0.8rem;
  width: 100%;
  padding: 0 1rem 0.5rem 1.5rem;
}

.case-studies-image-wrapper .case-study-button {
  font-size: 0.8rem;
  background: none;
  color: var(--accent); /* Button text color */
  border: none; /* Remove border */
  border-radius: 7px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: left; /* Center text */
  text-decoration: underline;
  margin: auto 1rem 1.5rem 1.5rem;
  transition: all 0.3s ease;
}

.case-studies-image-wrapper .case-study-button:hover {
opacity: 0.8;
}

.case-study-image {
  object-fit: fill;
  width: 100%;
  transition: all 0.3s ease;
}

@media (max-width: 960px) {
  .case-study-image {
    width: 80vw;
  }
}

