.erp-integration-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: fit-content;
  width: 100vw;
  padding: 5rem 0 5rem 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background: var(--background-2);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

@media (max-width: 960px) {
  .erp-integration-section {
    padding: 6rem 0 6rem 0;
  }
}
.erp-integration-section-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: 50vw;
}

@media (max-width: 960px) {
  .erp-integration-section-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.erp-integration-section-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 25vw;
}

@media (max-width: 960px) {
  .erp-integration-section-text {
    width: 80vw;
  }
}

.erp-integration-section h2 {
  color: var(--foreground);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.erp-integration-section p {
  font-size: 1rem;
  color: var(--muted-foreground);
  margin-bottom: 2rem;
}

.erp-integration-section .highlight {
  color: #0070f3; /* Highlight color */
}

.integration-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap; /* Allow logos to wrap to the next line */
  justify-items: center;
  align-items: center;
  gap: 0.5rem; /* Space between logos */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 20vw;
}

@media (max-width: 960px) {
  .integration-logos {
    width: 80vw;
  }
}

.integration-wrapper {
  display: flex;
  flex: 0 0 auto; /* Prevent logos from shrinking */
  background-color: #fff;
  padding: 1rem;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 100%;
}

@media (max-width: 960px) {
  .integration-wrapper {
    height: 4rem;
  }
}
.integration-logo {
  object-fit: contain;
  max-width: 100%; /* Ensure images do not exceed their container */
  height: 100%; /* Maintain aspect ratio */
  /* filter: grayscale(100%); */
  /* opacity: 0.7; */
  transition: all 0.3s ease;
}

/* .integration-logo:hover {
  filter: grayscale(0%);
  opacity: 1;
} */