.header-main {
    display: flex;
    flex-direction: row;

    position: fixed;
    width: 100vw;
    line-height: 1.2;
    background: var(--background);
    border: none;
    border-bottom: 1px solid var(--border);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 0px !important;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    font-size: 16px;
    padding: 0.5em 0.5em;
    /* margin-bottom: 16px !important; */
    z-index: 9001;
    position: fixed;
    /* height: fit-content; */
  }

  @media (max-width: 960px) {
    .header-main {
      padding: 0.5rem 0.5rem;
    }
  }

  .header-parent{
    width: 100vw;
    line-height: 1.2;
    border: none;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 0px !important;
    /* margin-bottom: 16px !important; */
    z-index: 9001;
  }
  
  
  @media (max-width: 7000px) {
    .header-parent {
      width: 14vw;
    } 
  }
  
  @media (max-width: 5000px) {
    .header-parent {
      width: 18vw;
    }
  }
  
  @media (max-width: 4000px) {
    .header-parent {
      width: 40vw;
    }
  }
  
  @media (max-width: 3000px) {
    .header-parent {
      width: 50vw;
    }
  }
  
  @media (max-width: 2000px) {
    .header-parent {
      width: 65vw;
    }
  }
  
  @media (max-width: 1500px) {
    .header-parent {
      width: 100vw;
    }
  }
  
  
  @media (max-width: 960px) {
    .header-parent {
      width: 100vw;
      padding: 0;
      height: 48px;
    }
  }

  .header-main .header-menu-item {
    font-family: var(--avenir);
    font-weight: 500;
    color: #484848;
    padding: 0.75em 1.5em;
    font-size: 13px;
    height: fit-content;  
    line-height: 12px;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
  }

  .header-main .logo-image {
    height: 32px;
    width: auto;
  }
  
  
  .logo-image-h2 {
    height: 24px;
    width: auto;
  }

  .logo-image-h2 {
    filter: var(--reverse-invert);
  }

  @media (max-width: 960px) {
    .header-main .logo-image {
      height: 28px;
      width: auto;
      margin-left: 0.6rem;
    }
    .header-main .logo-image-h2 {
      height: 28px;
      width: auto;
    }
  }
  
  .header-main .__logo {
    display: flex;
    height: fit-content;
    transition: max-height 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
  }

    @media (max-width: 960px) {
      .header-main .header-menu {
        display: none;
      }
    }
  
  @media (max-width: 768px) {
    .header__inner {
      padding: 0.25em 0.25em 0.25em 0.75em !important;
      transition: padding 0.3s ease-in-out;
    }
  }
  
  .header-main .outline_logo_svg__cls-1 {
    fill: #3c3838 !important;
  }
  
  .header-main .header__inner__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 0.05rem; */
  }

  .header-main .header__button {
    border-radius: 8px;
  }
  
  .header-main .header__button.--primary {
    display: flex;
    background-color: #3a69e9;
    font-family: var(--avenir);
    font-weight: 500;
    color: #fff;
    padding: 0 10px;
    font-size: 13px;
    /* height: fit-content;   */
    border-radius: 7px !important;
    height: 32px;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 960px) {
    .header-main .header__button.--primary {
      height: 28px;
    }
  }


  .header-main .header__button.--primary:hover {
    background-color: #3a69e9;
    color: #fff;
  }

  @media (max-width: 960px) {
    .header-main .header__button.--primary {
      padding: 0.25rem 0.75rem;
      font-size: 10px;
    }
  }
  .header-main .desktop-nav-pricing-text{
    transform: translateY(-0.03em) !important;
  }
  
  .header-main .desktop-nav-item {
    font-family: var(--avenir);
    font-weight: 500;
    color: rgb(111, 110, 119);
    padding: 0.75em 1.5em !important;
    font-size: 12px !important;
    height: fit-content !important;  
    line-height: 12px !important;
    position: relative !important;
    border-radius: 7px !important;
    cursor: pointer;
  }

  
  .header-main .header__button.--secondary {
    display: flex;
    align-items: center;
    justify-content: center;  
    padding: 0.5em 1.5em;
    margin-right: 1.5em;
    color: #3c3838;
    font-family: var(--avenir);
    font-size: 12px;
    line-height: 12px !important;
  
  
  }

  .hamburger-container{
    display: none;

  }
  
  @media (max-width: 960px) {
    .header-main .header__button.--secondary {
      font-size: 12px;
      margin: 0;
      white-space: nowrap;
    }

  
  .header-main .header__button.--secondary span {
    font-size: 0.87rem !important;
  }
  
  .header-main .hamburger-container {
    display: none;
  }

    .header-main .hamburger-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .header-main .hamburger-react {
      padding: 0 !important;
    }
 
  }



  /* Mobile Menu */

  .mobile-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 48px);
    background: var(--background);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    overflow-y: hidden;
  }
  
  .mobile-menu.--open {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-menu .mobile-menu__content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .mobile-menu .mobile-menu-item {
    background: var(--background);
    margin: 1.5rem 0;
    /* border-radius: 12px; */
    cursor: pointer;
    transition: all 0.2s ease;
    justify-content: center;
    align-items: center ;
    text-align: left;
    list-style: none;
    width: 90vw;
  }
  
  .mobile-menu .mobile-menu-link {
    font-family: var(--avenir);
    font-weight: 500;
    color: var(--foreground);
    /* padding: 0.75em 1.5em; */
    font-size: 15px;
    width: 100%;
  } 

  .mobile-menu .menu-divider {
    display: flex;
    height: 1px;
    width: 100%;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%); */
    background: #3c383841;

  }


.theme-toggle-container .theme-toggle-btn{
  height: fit-content;
  width: fit-content;
  padding: 7px;
}

.theme-toggle-container .icon-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 0.9rem;
  width:   0.9rem;
}

.theme-toggle-container .moon-icon{
  height: 0.9rem;
  width: 0.9rem;
}

.theme-toggle-container .sun-icon{
  height: 0.9rem;
  width: 0.9rem;
}

  


.theme-toggle-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 90vw; */
  margin: 0 0.75rem 0 0rem !important;

}

@media (max-width: 960px) {
  .theme-toggle-container{
    margin: 0 0.8rem 0 0rem !important;
  }


}