.partners-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100vw;
    background: none;

}

.partners-marquee-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.partners-marquee-track {
  display: flex;
  width: calc(2 * 100%); /* Ensures the track is twice the width of the container */
}

.partners-image-group {
  display: flex;
  flex-wrap: wrap;
  /* gap: 6rem; */
  /* margin: 2rem; */
  width: 100%; /* Each group takes up the full width of the container */
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin: 2rem;
  width: fit-content; /* Each group takes up the full width of the container */
}

.partner-image-wrapper {
  flex: 0 0 auto;
  width: 90px;
}

.partner-image {

  object-fit: contain;
  /* filter: grayscale(100%);
  opacity: 0.7; */
  transition: all 0.3s ease;
  filter: var(--reverse-invert);
}

/* .partner-image:hover {
  filter: grayscale(0%);
  opacity: 1;
} */

/* Optional: Pause on hover */
.partners-marquee-container:hover .partners-marquee-track {
  animation-play-state: paused;
}

@media (max-width: 960px) {
  .partners-marquee-track {
    animation: none; /* Disable animation */
    transform: none !important;
  }
}
