@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F6F7FE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #F6F7FE;
  }
}

body {
  background: var(--background-color);
}
ul{
  list-style: disc;
  padding: 0 50px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
