@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F6F7FE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #F6F7FE;
  }
}
html{
  scroll-behavior: smooth;
  scroll-padding: 100px;
}
body {
  background: var(--background-color);

}
ul{
  list-style: disc;
  padding: 0 50px;
}
.carousel.carousel-slider{
  padding-bottom: 25px;
}
.carousel .control-dots{
  bottom: -15px!important;
}
.carousel .thumbs-wrapper{
  margin: 10px!important;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

